.root{
  box-sizing: border-box;
  background-color: #fff;
  margin: 1em 0.5em;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
}
.picture{
  width: 34px;
  height: auto;
  border-radius: 5px;
  margin:0 0.5em;
}
.username{
  color: #666;
  padding: 0 0.5em;
}
.button{
  border: none;
  background-color: #2d84cc;
  color: #fff;
  border: 1px solid #1f6fb1;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  margin: 0 0.5em;
}
