.root{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.5em 0;
  font-family: sans-serif;
}
.text{
  font-size: 16pt;
  font-weight: 200;
}
.user{
  display: flex;
  align-items: center;
}
.avatar{
  width: 34px;
  height: auto;
  border-radius: 5px;
}
.displayName{
  font-weight: bold;
  padding: 0.5em;
}
.username{
  color: #aaa;
}
.date{
  color: #aaa;
  padding: 0.5em;
  font-size: 10pt;
}
.buttons{
  display: flex;
  justify-content: flex-start;
  color: #aaa;
}
.icon{
  margin-right: 2em;
}
.num{
  font-size: 10pt;
  margin: 0 3em 0 0.25em;
}
.rtGreen{
  color: #20883f;
}
.favYellow{
  color: #e2c400;
}
